<!-- this line of code will import the content of base.html into book.html -->
{% extends "base.html"%}

<!-- when I add my block content for books.html template , I  need to go to views and render this template over there -->
{%block content%}
  <h1>Your single book will display here </h1>
  <br>
  <h3>Book description</h3>
  <br>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
  dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
  book.</p>
{%endblock content%}
